/*socialed-style.css */
/* Own stylesheet for SocialED */
body{
    background-color: #fee4ff;
}

#container {
    padding: 2%;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    padding-left: 20px;
    font-color: #2A2929; /* dark grey */
    margin: 10px;
    background-color: white;
    width:60%;
    border:solid;

	text-align:justify;
}

a:link{
 color:black;

 }

a:hover {
  color:green;
}

a:visited {
    color:black;
}

h1 {
   color:orange;
   font-size:20pt;
}

#left {
  width:48%;
  display: inline-block;
}

#right {
  width: 48%;
  float: right;
  display: inline-block;
  height: 100%;
}

