<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/socialed-style.css" rel="stylesheet" type="text/css"/>
    <title>
        Inicio - SocialED
    </title>
</head>
<body>
<div id="container">
    <a href="/">
        SocialED
    </a>
    |
    <a href="/home">
        Inicio
    </a>
    |
    <a href="logout">
        Salir ({{ nickname }})
    </a>

    <h1>
        Ajustes de Perfil de {{nickname}}.
    </h1>
    <div>
        <form action="/profile" method="post" name="profile">
            <label for="nickname">
                Apodo
            </label>
            <div class="inputs">
                <input id="nickname" maxlength="64" name="nickname" placeholder="Nickname" size="80" type="text"
                       value="{{ nickname }}"/>
            </div>
            <label for="email">
                Correo electrónico
            </label>
            <div class="inputs">
                <input id="email" name="email" placeholder="Email" size="80" type="text" value="{{ email }}" readonly/>
            </div>
            <label for="Friends">
                Amigos:
            </label>
            <div class="inputs">
                <select name="friends" size="5" multiple>
                    {% for option in all_users %}
                    <option value="{{ option }} " {% if option in friends %} selected {% endif %}>{{ option }} </option>
                    {% endfor %}
                </select>
            </div>
            <label for="passwd">
                Introduce una nueva contraseña
            </label>
            <div class="inputs">
                <input id="passwd" name="passwd" placeholder="Password" size="80" type="password" value="{{ passwd }}"/>
            </div>
            <label for="confirm">
                Vuelve a introducir la contraseña
                <div class="inputs">
                    <input id="confirm" name="confirm" placeholder="Repeat Password" size="80" type="password"
                           value="{{ passwd }}"/>
                </div>
                <div class="inputs">
                    <input id="accept_submit" name="accept_submit" type="submit" value="Aceptar"/>
                </div>
            </label>
        </form>
    </div>
</div>
</body>
</html>