<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link href="./static/css/socialed-style.css" rel="stylesheet" type="text/css"/>
    <title>SocialED</title>
</head>
<body>
<div id="container">
    <a href="/">SocialED </a>|
    {% if logged %}
    <a href="home">Inicio</a> |
    <a href="profile">
        Perfil
    </a>
    |
    <a href="logout">
        Salir ({{ nickname }})
    </a>
    {% else %}
    <a href="login">Acceso </a>| <a href="signup">Registro</a>
    {% endif %}
    <h1>Bienvenid@ {{nickname}} a SocialED</h1>
    <div>
        <p>Si ya cuentas con un perfil, selecciona la opción de <b>Acceso</b>.</p>
        <p>Si eres nuevo selecciona la opción de <b>Registro</b> para crear una cuenta nueva.</p>
        <p>Si ya has iniciado sesión, haz click en <b>Inicio</b> para realizar una búsqueda.</p>
    </div>
</div>
</body>
</html>